body {
  font-family: "Noto Naskh Arabic", serif;
  font-size: 14px;
}

.shadow {
  box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
  background-color: #efefef;
}

.cart-shadow {
  box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
}

.sub-header {
  font-family: "Parisienne", cursive;
  font-size: 1.55rem;
  color: #484848;
}

.form-container {
  background: #8ca9c8;
  background: linear-gradient(90deg, #8ca9c8 0%, #ad7cd2 100%);
  height: 100%;
}

.form-shadow {
  box-shadow: 0 18px 64px 0 rgb(0 0 0 / 18%), 0 8px 12px 0 rgb(0 0 0 / 8%);
}

.slider-shadow {
  background: #41c1c6;
  background: linear-gradient(90deg, #41c1c6 0%, #7f7cd2 100%);
}

.bg-transparent {
  mix-blend-mode: multiply;
}

/* spinner */
.loader {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: block;
  margin: 15px auto;
  position: relative;
  color: #41c1c6;
  box-sizing: border-box;
  animation: animloader 1s linear infinite alternate;
}

@keyframes animloader {
  0% {
    box-shadow: -38px -6px, -14px 6px, 14px -6px;
  }
  33% {
    box-shadow: -38px 6px, -14px -6px, 14px 6px;
  }
  66% {
    box-shadow: -38px -6px, -14px 6px, 14px -6px;
  }
  100% {
    box-shadow: -38px 6px, -14px -6px, 14px 6px;
  }
}

/*************** color ****************/
/* #efefef50 */
/* #bfbfbf50 */
/* #afafaf50 */
/* #484848 */

/* #bdeabd */
/* #ade5ad */
/* #0ec592 */

/* #41c1c6 */

/* #fcbe56 */

/*************** gap ****************/
/* gap-2 */
/* gap-4 */
/* gap-8 */
/* gap-12 */

/*************** margin ****************/
/* 2 */
/* 4 */
/* 8 */

/*************** padding ****************/
/* 1 */
/* 2 */
/* 3 */
/* 4 */
/* 8 */

/*************** border-radious ****************/
/* rounded */
/* rounded-md */
